<div class='register-container'>
    <form class='register-form'>
        <h3 class='register-form__title'>Регистрация</h3>
        <div class='register-form__inputs'>
			{{{emailInput}}}
			{{{loginInput}}}
			{{{firstNameInput}}}
			{{{lastNameInput}}}
			{{{phoneInput}}}
			{{{passwordInput}}}
			{{{passwordConfirmInput}}}
        </div>
        <div class='register-form__buttons'>
			{{{registerButton}}}
            <a href='' class='register-form__sign'>{{additionalAction}}</a>
        </div>
    </form>
</div>