<div class="modal">
    <form class="modal__container">
        <h1>{{title}}</h1>
		<div class="closeButtonWrapper">{{{closeButton}}}</div>
        {{#if isFile}}
            {{{inputFile}}}
        {{else}}
            {{{login}}}
        {{/if}}
        {{{submitButton}}}
    </form>
</div>