<div class='chat-wrapper'>

    <div class='chats-column'>
        <div class='chats-column__header'>
            <button class='chats-column__profile-button profile__btn-link' type="button">Профиль ></button>
            <input class='chats-column__search-input' name='chat-search' placeholder='Поиск' />
        </div>
        <ul class='chats-column_chat-list'>{{{chatList}}}</ul>
    </div>

    <div class='chat-view'>

        <div class='chat-view__header'>
            <div class='chat-view__userinfo'>
                <img class='chat-view__avatar' src={{mainAvatar}} alt={{mainName}} />
                <span class='chat-view__username'>{{mainName}}</span>
            </div>
            <button class='chat-view__menu-button profile__btn-link' type="button">Настройки</button>
        </div>

        <ul class='chat-view__messages-list'>{{{messagesList}}}</ul>

        <form class='chat-new-message'>
            <img class='chat-new-message__attach-img' src={{attachment_icon}} alt="Прикрепить вложение" />
            <input placeholder='Сообщение' name='message' id='message-input' class='chat-new-message__input' type='text' />
			{{{sendButton}}}
        </form>

    </div>

</div>
