    <div class="input-wrapper" data-id={{name}}>
        <span class="input__label">{{label}}</span>
        <input type={{type}} name={{name}}>
        <span class="input__error-text" name={{name}}></span>
    </div>
	