<div class='profile-wrapper'>
	{{{avatar}}}
    <h3 class='profile__username'>{{profileName}}</h3>

    <form action='#' class='profile__form'  name="profileGeneralForm">
		{{{emailProfileInput}}}
		{{{loginProfileInput}}}
		{{{firstNameProfileInput}}}
		{{{secondNameProfileInput}}}
		{{{displayNameProfileInput}}}
		{{{phoneProfileInput}}}
        <div class='profile__actions'>
            <div class='bottom-divider'>{{{settingsEditButton}}}</div>
            <div class='bottom-divider'>{{{settingsEditPassButton}}}</div>
            <div class='bottom-divider'>{{{logoutButton}}}</div>
        </div>
    </form>
</div>
