<div class='profile-wrapper'>
	{{{avatar}}}
    <form action='#' class='profile__form' name='passwordChange'>
		{{{oldPasswordProfileInput}}}
		{{{passwordProfileInput}}}
		{{{passwordRepeatProfileInput}}}
        <div class='profile__actions'>
			{{{button}}}
        </div>
    </form>
</div>
