
<div class="profile-input-wrapper" data-id={{name}}>
	<label class='profile-input__label bottom-divider' for={{name}}>
		{{label}}
		<input class='profile-input__input' type={{type}} name={{name}} value={{value}}>
	</label>
	<span class="profile-input__error-text" name={{name}}></span>
</div>
