<div class='profile-wrapper'>
	{{{avatar}}}
    <form action='#' class='profile__form' name="profileChange">
		{{{emailProfileInput}}}
		{{{loginProfileInput}}}
		{{{firstNameProfileInput}}}
		{{{secondNameProfileInput}}}
		{{{displayNameProfileInput}}}
		{{{phoneProfileInput}}}
        <div class='profile__actions'>
			{{{button}}}
        </div>
    </form>
	{{{modal}}}
</div>
